<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/heg_db</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>


		<!-- Session Context (for getCurrentSession()) -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Ensure MySQL uses InnoDB, not MyISAM -->
        <property name="hibernate.default_storage_engine">innodb</property>

		<!-- Show and Format SQL -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<mapping class="com.lnjb.model.Employee" />


	</session-factory>
</hibernate-configuration>
